doctype html
html
	head
		title="Node Painter"
		script(src='/client.js')
		script(src='/socket.io/socket.io.js')
		script(src='/jquery.js')
		script(src='http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha256.js')
	body
		center
			canvas#game("style='border:1px solid #000;' width=750px; height=500px;")
			br
			input#black(type='button' value='black')
			input#eraser(type='button' value='eraser')
			input#yellow(type='button' value='yellow')
			input#blue(type='button' value='blue')
			input#green(type='button' value='green')
			input#red(type='button' value='red')
			br
			input#export(type='button' value='export')
			input#clear(type='button' value='clear')
